.activation-host-page{
    .banner-section{
        background: linear-gradient(rgba($color: #000000, $alpha: 0.5), rgba($color: #000000, $alpha: 0.5)), url("/assets/images/Staticpages/Stocksy_txp829abf37kJ2200_Medium_891814.jpg");
        background-position: center;
        background-size: cover;
        .hero-body{
            .banner-w{
                display: flex;
                flex-direction: column;
                align-items: center;
                .title{
                    font-family: Poppins;
                    font-size: 32px;
                    font-weight: bold;
                    text-align: center;
                    @media (max-width: $tablet){
                        font-size: 26px;
                        margin-bottom: 10px;
                    }
                }
                .subtitle{
                    font-family: Poppins;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: -1rem;
                    margin-bottom: 3rem;
                }
                .button{
                    width: 190px;
                    height: 40px;
                    font-family: Karla;
                    font-size: 18px;
                    font-weight: bold;
                    @media (max-width: $tablet){
                        width: 100%;
                        font-size: 15px;
                    }
                    img{
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    .bring-your-brand-section{
        .bring-your-brand-w{
            padding: 70px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $tablet){
                padding: 2rem 1rem;
            }
            .title{
                max-width: 820px;
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                line-height: 1.29;
                margin-bottom: 1.75rem;
                @media (max-width: $tablet) {
                    font-size: 14px;
                }
            }
            .button-w{
                @media (max-width: $tablet) {
                    width: 100%;
                }
                .button{
                    padding: 1rem 2rem;
                    font-family: Karla;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.22;
                    @media (max-width: $tablet) {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .how-it-works-section{
        padding: 70px 1rem;
        background: $pale-grey;
        .how-it-works-w{
            .section-title{
                color: $cerise;
                margin-bottom: 1rem;
            }
            .block-w{
                padding: 1rem 0;
                margin: auto;
                max-width: 310px;
                display: flex;
                .number-w{
                    margin-right: 15px;
                    .num{
                        font-family: Karla;
                        font-size: 38px;
                        color: $cerise;
                        width: 50px;
                        height: 50px;
                        border: 2px solid $cerise;
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .content-w{
                    .title-w{
                        padding: 9px 0;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.25;
                        color: $charcoal-grey;
                    }
                    .description-w{
                        font-family: Karla;
                        font-size: 16px;
                        line-height: 1.5;
                        color: $charcoal-grey;
                    }
                }
            }
        }
    }

    .video-explain-section{
        padding: 3rem 1rem;
        background-image: linear-gradient(to bottom, white, white 60%, $pale-grey 60%, $pale-grey);
	    background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: $tablet) {
            padding: 1rem;
        }
        .container{
            max-width: 1020px;
        }
        .video-explain-w{
            .title-w{
                padding: 3rem 0 0.75rem;
                @media (max-width: $tablet) {
                    padding: 1rem 0 0.5rem;
                }
            }
            .description-w{
                padding: 1.5rem 0;
                max-width: 820px;
                margin: auto;
                @media (max-width: $tablet) {
                    padding: 0.5rem;
                }
            }
            .video-w{
                max-width: 820px;
                height: 460px;
                background-image: url(/assets/images/video-bg.jpg);
                background-position: center;
                background-size: cover;
                margin: 1rem auto;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                @media (max-width: $tablet) {
                    height: 160px;
                }
                .js-modal-btn{
                    z-index: 1;
                    cursor: pointer;
                    width: 120px;
                    height: 120px;
                    @media (max-width: $tablet) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .overlay{
                position: relative;
            }
            .overlay:before{
                position: absolute;
                content:" ";
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:0;
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
}