@font-face { 
    font-family: Karla; 
    src: url('../fonts/Karla/Karla-Regular.ttf'); 
}
@font-face { 
    font-family: Poppins; 
    src: url('../fonts/Poppins/Poppins-Regular.ttf'); 
}

a:focus {
    outline: none !important;
}

.button.is-primary:hover, .button.is-primary.is-hovered{
    background-color: #f50b65 !important;
}
.button.is-dark:hover, .button.is-dark.is-hovered{
    background-color: #575759 !important;
}
.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus{
    background-color: #fff !important;
}

.button{
    @media (max-width: $tablet){
        font-size: 15px !important;
    }
}

.navbar.is-white{
    box-shadow: 0 1px 2px 0 rgba(64, 64, 65, 0.2);
}

.navbar.is-spaced .navbar-dropdown, .navbar-dropdown.is-boxed{
    border: none;
    border-radius: 0;
    top: 100%;
    box-shadow: initial;
}
.navbar-dropdown a.navbar-item{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

body{
    position: relative;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

// mobile menu
.mobile_menu{
    background-image: linear-gradient(202deg, #db0a5b, #971b50);
    color: $white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    top: 60px;
    right: -260px;
    z-index: 10;
    width: 260px;
    height: 100%;
    .menu-item-w{
        height: 40px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        border-bottom: 0.5px solid #F084AB;
        color: $white;
        font-family: Karla;
        font-size: 11px;
        img{
            height: 20px;
            width: auto;
        }
    }
    .menu-to-sub{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-social-w{
        position: fixed;
        bottom: 0;
        width: 260px;
        .icons-w{
            margin: 0 auto 35px;
            width: 120px;
            display: flex;
            justify-content: space-between;
            img{
                width: 25px;
                height: 25px;
            }
        }
    }
}

.push{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pushright-open{
    right: 0;
}
.push-toright{
    left: -260px;
    height: 100vh;
    overflow-y: hidden;
}
// mobile menu end

.search-w{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #979797;
    // box-shadow: inset 0 -1px 0 0 #404041;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .search-icon{
        width: 30px;
        height: 30px;
        margin: 5px 8px;
    }
    input{
        border: none;
        outline: none;
        font-family: Karla;
        font-size: 16px;
        color: $charcoal-grey;
        width: calc(100% - 50px);
    }
}

.navbar-burger:hover{
    background: $white;
}
.navbar.is-white .navbar-brand>a.navbar-item:hover{
    background: $white;
}
.navbar-item{
    font-family: Karla;
    font-size: 14px;
    font-weight: bold;
    color: $charcoal-grey;
    .button{
        font-family: Karla;
        font-size: 14px;
        font-weight: bold;
        padding: 0 2rem;
    }
    &-icon{
        margin-right:10px;
        &[data-badge] {

            position: relative;
            white-space: nowrap;
            margin-right: rem(10);

            &:after {
                width: 2em;
                height: 2em;
                top: -1em;
                right: -1em;
                content: attr(data-badge);
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                position: absolute;
                top: -11px;
                right: -10px;
                font-family: 'Karla';
                font-weight: 400;
                font-size: 10px;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                border: 2px solid #fff;
                background: $cerise;
                color: #fff;
            }
        }
    }
    &-logged-in{
        display: none;
        &-dropdown .navbar-dropdown{
            left:auto;
            right:0;
        }
    }
}
.navbar-link-profile-name span{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
}


hr{
    background-color: #dddddd;
}

.custom-hr{
    border-top: 1px solid #979797;
}

