.homepage{    
    .hero-body{
        padding: 16rem 8rem 13rem !important;
        @media (max-width: $widescreen){
            padding: 12rem 4rem 10rem !important;
        }
        @media (max-width: $desktop){
            padding: 8rem 2rem 4rem !important;
        }
        @media (max-width: $tablet){
            padding: 3.75rem 1rem 3rem !important;
        }
    }

    .banner-section{
        position: relative;
        video {
            display: block;
        }
        .video-container{
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            overflow: hidden;          
            #video-bg{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                filter: brightness(0.6);
            }
            /* 1. No object-fit support: */
            @media (min-aspect-ratio: 16/9) {
                #video-bg { height: 300%; top: -100%; }
            }
            @media (max-aspect-ratio: 16/9) {
                #video-bg { width: 300%; left: -100%; }
            }
            /* 2. If supporting object-fit, overriding (1): */
            @supports (object-fit: cover) {
                #video-bg {
                top: 0; left: 0;
                width: 100%; height: 100%;
                object-fit: cover;
                }
            }
        }

        .banner-image-wrapper{
            background-image: url("/assets/images/Homepage/CoverImage.jpg");
            background-position: center;
            background-size: cover;
            background-color: #db0a5b;
            color: #fff;
            @media (max-width: $tablet){
                background-image: linear-gradient(222deg, #db0a5b, #971b50);
            }
            .container{
                width: inherit;
            }
            .title{
                font-family: Poppins;
                font-size: 38px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.05;
                letter-spacing: normal;
                color: $white;
                margin-bottom: 20px;
                @media (max-width: $tablet){
                    font-size: 24px;
                    text-align: center;
                    line-height: 1.33;
                    margin: 0 auto 30px;
                    max-width: 320px;
                }
            }
            .sub-title{
                font-family: Karla;
                font-size: 20px;
                line-height: 1.4;
                color: $white;
                margin-bottom: 50px;
                max-width: 510px;
                @media (max-width: $tablet){
                    font-size: 13px;
                    text-align: center;
                    margin: 0 auto 30px;
                }
            }
            .button-w{
                @media (max-width: $tablet){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .button{
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.22;
                    width: 180px;
                    margin-right: 20px;
                    @media (max-width: $tablet){
                        font-size: 15px;
                        width: 220px;
                        height: 36px;
                        margin-right: 0;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .activation-spaces-section{
        padding: 4rem 1rem;
        background: $pale-grey;
        @media (max-width: $tablet){
            padding: 40px 1rem 30px;
        }
        .activation-spaces-w{
            .section-title{
                margin-bottom: 10px;
            }
            .section-description{
                max-width: 620px;
                margin: auto;
            }
            .activation-slider-w{
                margin-top: 40px;
                padding: 0 10px;
                position: relative;
                @media (max-width: $tablet){
                    margin-top: 10px;
                }
                .prev-w{
                    position: absolute;
                    left: 5px;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .next-w{
                    position: absolute;
                    right: 5px;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .icon-btn{
                    width: 32px;
                    height: 32px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    border: 2px solid #19a2b8;
                    color: #19a2b8;
                    cursor: pointer;
                    margin-bottom: 50px;
                }
                .activation-slider{
                    .activation-item{
                        padding: 10px;
                        outline: none;
                        @media (max-width: $tablet){
                            padding-left: 0;
                            padding-right: 15px;
                        }
                        .image-w{
                            width: 100%;
                            height: 210px;
                            background-position: center;
                            background-size: cover;
                            border-radius: 5px;
                            @media (max-width: $desktop){
                                width: 295px;
                                height: 210px;
                            }
                            @media (max-width: $tablet){
                                width: 180px;
                                height: 130px;
                            }
                        }
                        .item-title{
                            margin-top: 10px;
                            font-size: 20px;
                            font-family: Karla;
                            font-weight: bold;
                            line-height: 1.4;
                            color: $charcoal-grey;
                            @media (max-width: $tablet){
                                font-size: 16px;
                                line-height: 1.75;
                            }
                        }
                        .item-tag{
                            font-size: 12px;
                            font-family: Karla;
                            font-weight: bold;
                            opacity: 0.6;
                            color: $charcoal-grey;
                            @media (max-width: $tablet){
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .homepage-portfolio{
        padding: 60px 1rem;
        @media (max-width: $desktop){
            padding: 25px 1rem;
        }
        @media (max-width: $tablet){
            padding: 25px 1rem;
        }
        .block-w{            
            padding: 0 2rem;
            @media (max-width: $tablet){
                padding: 0;
            }
            .description-w{
                max-width: 360px;
            }
        }
    }

    .how-it-works-section{
        padding: 50px 1rem;
        background-image: linear-gradient(to bottom, white, white 40%, $pale-grey 40%, $pale-grey);
	    background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: $desktop){
            padding: 20px 1rem;
            background: $white;
        }
        @media (max-width: $tablet){
            padding: 20px 1rem;
            background: $white;
        }
        .container{
            max-width: 1020px;
        }
        .how-it-works-w{
            .title-w{
                padding: 20px 0 10px;
            }
            .description-w{
                margin-bottom: 30px;
                @media (max-width: $tablet){
                    margin-bottom: 8px;
                }
            }
            .video-w{
                max-width: 820px;
                height: 460px;
                background-image: url(/assets/images/source/stocksy-txp-829-abf-37-k-j-2200-medium-2017689@2x.jpg);
                background-position: center;
                background-size: cover;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                @media (max-width: $desktop){
                    max-width: 600px;
                    height: 350px;
                }
                @media (max-width: $tablet){
                    height: 160px;
                }
                .js-modal-btn{
                    z-index: 1;
                    cursor: pointer;
                    width: 120px;
                    height: 120px;
                    @media (max-width: $tablet){
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .overlay{
                position: relative;
            }
            .overlay:before{
                position: absolute;
                content:" ";
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:0;
                background-color: rgba(0,0,0,0.2);
            }
            .cards-block{
                padding: 26px 0;
                max-width: 900px;
                margin: auto;
                .card-w{
                    padding: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media (max-width: $tablet){
                        align-items: flex-start;
                        padding: 0;
                    }
                    .image-w{
                        padding: 2rem 0;
                    }
                    .card-title-w{
                        padding-bottom: 0.75rem;
                        font-family: Poppins;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.27;
                        text-align: center;
                        color: $charcoal-grey;
                        @media (max-width: $tablet){
                            font-size: 14px;
                            padding-bottom: 20px;
                        }
                    }
                    .card-description-w{
                        max-width: 350px;
                        height: 6rem;
                        padding-bottom: 1rem;
                        font-family: Karla;
                        font-size: 20px;
                        line-height: 1.4;
                        text-align: center;
                        color: $charcoal-grey;
                        @media (max-width: $desktop){
                            height: 4rem;
                            font-size: 15px;
                        }
                        @media (max-width: $tablet){
                            font-size: 13px;
                            text-align: left;
                            height: inherit;
                            padding-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

    .new-product-launch-section{
        background: $pale-grey;
        @media (max-width: $tablet){
            padding: 40px 1rem 0;
        }
        .new-product-launch-w{
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $tablet){
                padding: 2rem 0;
            }
            .title{
                max-width: 700px;
                margin: 0;
                padding: 0 1rem;
                font-size: 28px;
                font-weight: normal;
                line-height: 1.29;
                margin-bottom: 2.5rem;
                @media (max-width: $desktop) {
                    font-size: 24px;
                }
                @media (max-width: $tablet) {
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 1.5rem;
                }
            }
            .button{
                padding: 1rem 2rem;
                font-family: Karla;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.22;
                @media (max-width: $tablet) {
                    font-size: 16px;
                }
            }
            .link-arrow{
                color: $white;
            }
        }
    }
}