// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;

$white: white;
$pale-grey: #f4f4f7;
$cerise: #db0a5b;
$charcoal-grey: #404041;
$charcoal-grey-60-p: rgba(64, 64, 65, 0.6);
$charcoal-light: #888897;
$berry: #971b50;