@charset "utf-8";

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;


@import "./variables";

$primary: $cerise;
$dark: $charcoal-grey;

//change variable
$navbar-height: 3.75rem;
$dropdown-content-radius: 0px;
$modal-background-background-color: rgba(0, 0, 0, 0.5);

@import "../../lib/css/bulma-0.7.1/bulma.sass";
@import "../../lib/css/bulma-tooltip-1.0.5/dist/bulma-tooltip.sass";