@charset "utf-8";

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

$pale-grey: #f4f4f7;
$cerise: #db0a5b;
$charcoal-grey: #404041;
$charcoal-grey-60-p: rgba(64, 64, 65, 0.6);
$charcoal-light: #888897;
$berry: #971b50;


$primary: $cerise;
$dark: $charcoal-grey;

//change variable
$navbar-height: 3.75rem;
$dropdown-content-radius: 0px;

@import "../../lib/css/bulma-0.7.1/bulma.sass";

@import "./custom.scss";

@import "./homepage.scss";
@import "./brand.scss";
@import "./activation_host.scss";
@import "./why_brandcrush.scss";
@import "./FAQ.scss";
@import "./reporting.scss";
@import "./about_brandcrush.scss";
@import "./blog_roll.scss";
@import "./blog_article.scss";
@import "./contact_us.scss";
@import "./terms.scss";

