<section class="case-studies-section">
    <div class="container">
        <div class="section-title title-w">
            Case Studies
        </div>
        <div class="section-description description-w">
            See how brands are engaging and inspiring customers through Brandcrush's network of Activation Hosts.
        </div>
        <div class="tiles-w">
            <div class="columns is-multiline">
                <div class="column is-half-desktop is-full-tablet">
                    <div class="block-w">
                        <div class="columns is-multiline is-mobile">
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/covergirl.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-desktop is-full-tablet">
                    <div class="block-w">
                        <div class="columns is-multiline is-mobile">
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/hbo.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/picky-picky-peanuts.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-desktop is-full-tablet">
                    <div class="block-w">
                        <div class="columns is-multiline is-mobile">
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/green-blacks.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/spotify.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half-desktop is-full-tablet">
                    <div class="block-w">
                        <div class="columns is-multiline is-mobile">
                            <div class="column">
                                <div class="tile">
                                    <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/bondi-sands.jpg)" ></div>
                                    <div class="overlay-w">
                                        <div class="desc-w">
                                            Covergirl launches in fitness studios across Australia
                                        </div>
                                        <a href="#">
                                            <div class="link-arrow learn-more">Learn More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-w child-center">
            <div class="button is-primary">
                See All Case Studies
            </div>
        </div>
    </div>
</section>