<nav class="navbar is-white is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/icons/group-4.svg" alt="Brandcrush" width="150" height="25">
        </a>
        <div class="navbar-burger burger" data-target="navbarBrandCrush">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbarBrandCrush" class="navbar-menu">
        <div class="navbar-start is-hidden-touch">
            <div class="navbar-item">
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    How it Works
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/brands">
                        I’m a Brand or Agency
                    </a>
                    <a class="navbar-item" href="/activationhosts">
                        I’m an Activation Partner
                    </a>
                    <a class="navbar-item" href="/whybrandcrush">
                        Why Brandcrush?
                    </a>
                    <a class="navbar-item" href="/FAQs">
                        FAQs
                    </a>
                </div>
            </div> 
            <div class="navbar-item  navbar-item-logged-out">
            </div>
            <a class="navbar-item navbar-item-logged-out" href="/casestudies" >
                Case studies
            </a>
        </div>
        <div class="navbar-end is-hidden-touch">
            <a class="navbar-item navbar-item-logged-out" href="/app/login" target="_self" >
                Log in
            </a>
            <div class="navbar-item navbar-item-logged-out"></div>
            <div class="navbar-item navbar-item-logged-out">
                <p class="control">
                    <a class="button is-primary" href="/app" target="_self" >
                        <span>Sign up free</span>
                    </a>
                </p>
            </div>


            <div class="navbar-item has-dropdown is-hoverable navbar-item-logged-in navbar-item-logged-in-dropdown" >
                <a class="navbar-link navbar-link-profile-name" href="#">
                    <span>profile</span>
                </a>
                <div class="navbar-dropdown is-boxed">
                </div>
            </div>

        </div>
        <div class="navbar-end is-hidden-desktop mobile_menu">
            <div class="navbar-item">
                <p class="control">
                    <a class="button is-fullwidth is-primary is-outlined mobile_btn" href="/app" target="_self">
                        <span>Sign Up</span>
                    </a>
                </p>
            </div>
            <a class="navbar-item" href="/app/login" target="_self">
                Log in
            </a>
            <hr />
            <a class="navbar-item" href="/" >
                Home
            </a>
            <hr />
            <a class="navbar-item" href="/brands">
                How it works for Brands
            </a>
            <a class="navbar-item" href="/activationhosts">
                How it works for Activation Hosts
            </a>
            <a class="navbar-item" href="/whybrandcrush">
                Why Brandcrush?
            </a>
            <a class="navbar-item" href="/FAQs">
                FAQs
            </a>
            <a class="navbar-item" href="/activationreporting">
                Activation reporting
            </a>
            <hr />
            <a class="navbar-item" href="/aboutbrandcrush">
                About Brandcrush
            </a>
            <a class="navbar-item" href="/contactus">
                Contact us
            </a>
            <hr />
            <a class="navbar-item" href="/termsofservice">
                Terms & conditions
            </a>
            <a class="navbar-item" href="/privacypolicy">
                Privacy policy
            </a>
            <div class="mobile-social-w">
                <div class="icons-w">
                    <a href="https://www.facebook.com/brandcrushmarketplace/"><img src="/assets/images/icons/facebook.svg" /></a>
                    <a href="https://www.instagram.com/brandcrush.marketplace/"><img src="/assets/images/icons/insta.svg" /></a>
                    <a href="https://www.linkedin.com/company/brandcrush/"><img src="/assets/images/icons/linked-in.svg" /></a>
                </div>
            </div>
        </div>
    </div>
</nav>