<section class="logos-section is-hidden-touch">
    <div class="container">
        <div class="logos-w">
            <div class="logo-title">Trusted By</div>
            <img src="/assets/images/logos/bondisands@2x.png" width="81" height="50" />
            <img src="/assets/images/logos/ferrero-logo@2x.png" width="123" height="16" />
            <img src="/assets/images/logos/nestle@2x.png" width="56" height="58" />
            <img src="/assets/images/logos/covergirl@2x.png" width="108" height="14" />
            <img src="/assets/images/logos/mondelez@2x.png" width="122" height="30" />
            <img src="/assets/images/logos/adidas@2x.png" width="65" height="46" />
        </div>
    </div>
</section>