<section class="category-section">
    <div class="container">
        <div class="description">
            Engage with customers where they live, work and play. Brandcrush connects brands with everyday businesses and events for real-world activation opportunities.
        </div>
        <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/product_sampling@2x.jpg" width="295" height="190" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Product Sampling
                        </div>
                        <a href="#" target="_self" class="learn-more">
                            <div class="link-arrow">Learn More</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/brand_placement@2x.jpg" width="295" height="190" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Product Placement
                        </div>
                        <a href="#" target="_self" class="learn-more">
                            <div class="link-arrow">Learn More</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/brand_experiences@2x.jpg" width="295" height="190" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Brand Experiences
                        </div>
                        <a href="#" target="_self" class="learn-more">
                            <div class="link-arrow">Learn More</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/events_popups@2x.jpg" width="295" height="190" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Events & Popups
                        </div>
                        <a href="#" target="_self" class="learn-more">
                            <div class="link-arrow">Learn More</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>