<section class="brands-hosts-section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <div class="block-w">
                    <div class="image-w is-hidden-mobile">
                        <img src="/assets/images/drawn/brand@2x.jpg" width="255" height="220" />
                    </div>
                    <div class="section-title">
                        Brands & Agencies
                    </div>
                    <div class="section-description">
                        I have a product/message that I want to share with people to grow my brand or business.
                    </div>
                    <a href="/brand/signup" class="button-w">
                        <div class="button is-primary">
                            Sign up for free
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="block-w">
                    <div class="image-w is-hidden-mobile">
                        <img src="/assets/images/drawn/activation-hosts@2x.jpg" width="255" height="220" />
                    </div>
                    <div class="section-title">
                        Activation Hosts
                    </div>
                    <div class="section-description">
                        I can connect brands with people by hosting sampling, pop-ups or other experiences in my business space.
                    </div>
                    <a href="/host/signup" class="button-w">
                        <div class="button is-primary">
                            List a business space for free
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>