<section class="logos-section is-hidden-touch">
    <div class="container">
        <div class="logos-w">
            <div class="logo-title">Trusted By</div>
            <img src="/assets/images/logos/culture-kings-logo@2x.png" width="115" height="59" />
            <img src="/assets/images/logos/wework-001@2x.png" width="106" height="24" />
            <img src="/assets/images/logos/y-7-logo@2x.png" width="63" height="40" />
            <img src="/assets/images/logos/darling-group@2x.png" width="108" height="27" />
            <img src="/assets/images/logos/xtendbarre-logo@2x.png" width="136" height="18" />
            <img src="/assets/images/logos/slt@2x.png" width="59" height="36" />
        </div>
    </div>
</section>