
<section class="activation-concept-section">
    <div class="container">
        <div class="activation-concept-w">
            <div class="columns">
                <div class="column">
                    <div class="item-box">
                        <img src="/assets/images/icons/icecream.svg" />
                        <div class="item-desc">
                            <b>An Activation</b> is the physical distribution of a brand message, product or sample.
                        </div>
                    </div>
                </div>                            
                <div class="column">
                    <div class="item-box">
                        <img src="/assets/images/icons/icecream-stand.svg" />
                        <div class="item-desc">
                            <b>An Activation Space</b> can be any indoor or outdoor location with existing foot traffic.
                        </div>
                    </div>
                </div>                            
                <div class="column">
                    <div class="item-box">
                        <img src="/assets/images/icons/icecream-sign.svg" />
                        <div class="item-desc">
                            <b>A Brand</b> is any business with a product or message that they want to share with consumers.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>