<div class=" is-hidden-desktop mobile_menu">
    <div class="menu-item-w">
        <img src="/assets/images/icons/logo-white.svg" />
    </div>
    <div class="menu-level-w">
        <div class="menu-level-main">
            <a class="menu-item-w" href="https://brandcrush.com/app" target="_self">
                Sign up
            </a>
            <a class="menu-item-w" href="https://brandcrush.com/app/login" target="_self">
                Log in
            </a>
            <a class="menu-item-w" href="/" >
                Home
            </a>
            <a class="menu-item-w menu-to-sub menu-to-howitworks" href="">
                <span>How it works</span><span><i class="fas fa-chevron-right"></i></span>
            </a>
            <a class="menu-item-w menu-to-sub menu-to-activations" href="">
                <span>Our activations</span><span><i class="fas fa-chevron-right"></i></span>
            </a>
            <a class="menu-item-w" href="/casestudies" >
                Case studies
            </a>
            <a class="menu-item-w" href="/aboutbrandcrush">
                About Brandcrush
            </a>
            <a class="menu-item-w" href="/blog">
                Our blog
            </a>
            <a class="menu-item-w" href="/contactus">
                Contact us
            </a>
            <a class="menu-item-w" href="/termsofservice">
                Terms & conditions
            </a>
            <a class="menu-item-w" href="/privacypolicy">
                Privacy policy
            </a>
            <div class="mobile-social-w">
                <div class="icons-w">
                    <a href="https://www.facebook.com/brandcrushmarketplace/"><img src="/assets/images/icons/facebook-white.svg" /></a>
                    <a href="https://www.instagram.com/brandcrush.marketplace/"><img src="/assets/images/icons/insta-white.svg" /></a>
                    <a href="https://www.linkedin.com/company/brandcrush/"><img src="/assets/images/icons/linked-in-white.svg" /></a>
                </div>
            </div>
        </div>
        <div class="menu-level-howitworks" style="display: none;">
            <a class="menu-item-w menu-to-back" href="">
                <i class="fas fa-chevron-left"></i> &nbsp;&nbsp; BACK
            </a>
            <a class="menu-item-w" href="/brands">
                I'm a Brand
            </a>
            <a class="menu-item-w" href="/activationhosts">
                I'm an Activation Host
            </a>
            <a class="menu-item-w" href="/whybrandcrush">
                Why Brandcrush?
            </a>
            <a class="menu-item-w" href="/FAQs">
                FAQs
            </a>
            <a class="menu-item-w" href="/activationreporting">
                Activation Reporting
            </a>
        </div>
        <div class="menu-level-activations" style="display: none;">
            <a class="menu-item-w menu-to-back" href="">
                <i class="fas fa-chevron-left"></i> &nbsp;&nbsp; BACK
            </a>
            <a class="menu-item-w" href="/category-productsampling">
                Product Sampling
            </a>
            <a class="menu-item-w" href="/category-brandplacement">
                Brand Placement
            </a>
            <a class="menu-item-w" href="/category-brandexperiences">
                Brand Experiences
            </a>
            <a class="menu-item-w" href="/category-eventspopups">
                Events & Popups
            </a>
        </div>
    </div>
</div>