<section class="signup-contact-section">
    <div class="container">
        <div class="signup-contact-w">
            <div class="columns is-multiline">
                <div class="column">
                    <div class="block-w">
                        <div class="heading-w">
                            Sign up for free and browse our activation spaces.
                        </div>
                        <a href="/app" class="button-w">
                            <div class="button is-dark is-hidden-mobile">Sign Up Free</div>
                            <div class="button is-primary is-hidden-tablet">Sign Up Free</div>
                        </a>
                    </div>
                </div>
                <div class="column is-hidden-tablet">
                    <div class="custom-hr"></div>
                </div>
                <div class="column">
                    <div class="block-w">
                        <div class="heading-w">
                            Need a little help? Our Concierge can walk you through the process.
                        </div>
                        <a href="#" class="button-w">
                            <div class="button is-dark is-hidden-mobile">Contact Concierge</div>
                            <div class="button is-primary is-hidden-tablet">Contact Concierge</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>