<div class="casestudies-slider-w is-hidden-tablet">
    <div class="casestudies-slider-item">
        <a href="/fullcasestudy-bondisandsbody" class="tile">
            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/bondi-sands-body-case-stduy@2x.jpg)" ></div>
        </a>
    </div>
    <div class="casestudies-slider-item">
        <a href="/fullcasestudy-pickypickypeanuts" class="tile">
            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/picky-picky-peanuts@2x.jpg)" ></div>
        </a>
    </div>
    <div class="casestudies-slider-item">
        <a href="/fullcasestudy-greenblacks" class="tile">
            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/green-blacks@2x.jpg)" ></div>
        </a>
    </div>
    <div class="casestudies-slider-item">
        <a href="/fullcasestudy-optimumnutrition" class="tile">
            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/optimum-nutrition-case-study@2x.jpg)" ></div>
        </a>
    </div>
</div>
<div class="tiles-w is-hidden-mobile">
    <div class="columns is-multiline">
        <div class="column is-half-desktop is-full-tablet">
            <div class="block-w">
                <div class="columns is-multiline is-mobile">
                    <div class="column">
                        <a href="/fullcasestudy-covergirl" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/covergirl@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half-desktop is-full-tablet">
            <div class="block-w">
                <div class="columns is-multiline is-mobile">
                    <div class="column">
                        <a href="/fullcasestudy-bondisandsbody" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/bondi-sands-body-case-stduy@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/fullcasestudy-pickypickypeanuts" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/picky-picky-peanuts@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half-desktop is-full-tablet">
            <div class="block-w">
                <div class="columns is-multiline is-mobile">
                    <div class="column">
                        <a href="/fullcasestudy-greenblacks" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/green-blacks@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <a href="/fullcasestudy-optimumnutrition" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/optimum-nutrition-case-study@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-half-desktop is-full-tablet">
            <div class="block-w">
                <div class="columns is-multiline is-mobile">
                    <div class="column">
                        <a href="fullcasestudy-bondisands" class="tile" data-aos="fade-up">
                            <div class="image-w" style="background-image: url(/assets/images/Homepage/case_studies/bondi-sands@2x.jpg)" ></div>
                            <div class="overlay-w">
                                <div class="desc-w">
                                    A workout proof mascara? No sweat.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>