<section class="category-section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/product-sampling@2x.jpg" width="356" height="258" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Product Sampling
                        </div>
                        <a href="/category-productsampling" target="_self" class="learn-more">
                            <div class="link-arrow">Learn more</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/brand-placement@2x.jpg" width="304" height="274" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Brand Placement
                        </div>
                        <a href="/category-brandplacement" target="_self" class="learn-more">
                            <div class="link-arrow">Learn more</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/brand-experiences@2x.jpg" width="214" height="282" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Brand Experiences
                        </div>
                        <a href="/category-brandexperiences" target="_self" class="learn-more">
                            <div class="link-arrow">Learn more</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="category-card">
                    <div class="image-w child-center">
                        <img src="/assets/images/Homepage/category/events@2x.jpg" width="286" height="264" />
                    </div>
                    <div class="main-w">
                        <div class="category-title">
                            Events & Popups
                        </div>
                        <a href="/category-eventspopups" target="_self" class="learn-more">
                            <div class="link-arrow">Learn more</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>