<section class="sign-up-section">
    <div class="container">
        <div class="sign-up-w">
            <div class="desc">
                Sign up below to get the latest tips, product features and industry insights direct to you inbox.
            </div>
            <div class="radio-w">
                <label class="custom-radio">I'm a BRAND
                    <input type="radio" checked="checked" name="sign_up_radio">
                    <span class="checkmark"></span>
                </label>
                <label class="custom-radio">I'm an AGENCY
                    <input type="radio" name="sign_up_radio">
                    <span class="checkmark"></span>
                </label>
                <label class="custom-radio">I'm an ACTIVATION HOST
                    <input type="radio" name="sign_up_radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="input-w">
                <input placeholder="Email" id="subscribe_email" />
                <div class="button is-primary" id="subscribe_btn">Sign Up</div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section">
    <div class="container">
        <div class="horiz-line"></div>
        <div class="footer-w">
            <div class="list-w">
                <div class="item-w"><a class="list-header"">HOW IT WORKS</a></div>
                <div class="item-w"><a class="list-body" href="/brands">I'm a Brand</a></div>
                <div class="item-w"><a class="list-body" href="/activationhosts">I'm an Activation Host</a></div>
                <div class="item-w"><a class="list-body" href="/whybrandcrush">Why Brandcrush?</a></div>
                <div class="item-w"><a class="list-body" href="/FAQs">FAQs</a></div>
                <div class="item-w"><a class="list-body" href="/activationreporting">Activation Reporting</a></div>
            </div>
            <div class="list-w">
                <div class="item-w"><a class="list-header">DISCOVER</a></div>
                <div class="item-w"><a class="list-body" href="/aboutbrandcrush">About Brandcrush</a></div>
                <div class="item-w"><a class="list-body" href="/blog">Our Blog</a></div>
                <div class="item-w"><a class="list-body" href="/contactus">Contact Us</a></div>
            </div>
            <div class="social-w">
                <div class="copyright-w">
                    <span class="copyright-text">© Brandcrush Pty Ltd 2018 | </span>
                    <a class="terms-text" href="/termsofservice">Terms of Service</a> & <a class="terms-text" href="/privacypolicy">Privacy Policy</a>
                </div>
                <div class="icons-w">
                    <a href="https://www.facebook.com/brandcrushmarketplace/"><img src="/assets/images/icons/facebook.svg" /></a>
                    <a href="https://www.instagram.com/brandcrush.marketplace/"><img src="/assets/images/icons/insta.svg" /></a>
                    <a href="https://www.linkedin.com/company/brandcrush/"><img src="/assets/images/icons/linked-in.svg" /></a>
                </div>
            </div>
        </div>
    </div>
</section>